/* rem and em do NOT depend on html font-size in media queries!
Instead, 1rem = 1em = 16px */

/* ****************** */
/* BELOW 1440px (90em)
/* ****************** */

@media (max-width: 90em) {
  /* general.css */
  .container {
    max-width: 130rem;
  }

  .description {
    font-size: 2.2rem;
    letter-spacing: 0.2px;
  }

  /* style.css */
  .discover--list,
  .define--list,
  .develop--list,
  .deliver--list {
    margin: auto 3.2rem;
    font-size: 1.6rem;
  }

  .project-do:link,
  .project-do:visited,
  .roadmap:link,
  .roadmap:visited,
  .ghac-connection:link,
  .ghac-connection:visited {
    font-size: 6.4rem;
  }

  .ghac-connection .project-title {
    top: 6rem;
    left: 6rem;
  }

  .ghac-connection .project-subtitle {
    top: 14rem;
    left: 60rem;
  }

  .connection-row {
    grid-template-columns: 2fr 4fr;
    gap: 15rem;
  }

  .blob-email {
    padding: 22rem 6.4rem;
    border-radius: 220px 200px 170px 150px;
    transform: translateY(-3rem);
  }

  .email:link,
  .email:visited {
  font-size: 4.8rem;
  }

  /* projects.css */
  .container--project:not(.full-background) {
    max-width: 120rem;
  }

  .grid--project {
    column-gap: 8rem;
  }

  .heading-project {
    font-size: 4.2rem;
  }

  .content:not(:last-child) {
    margin-bottom: 1.8rem;
  }

  .community--flex {
    padding: 0 12.8rem;
  }

  /* .video {
    height: 36rem;
  } */
}

/* ****************** */
/* BELOW 1344px (84em) - Smaller desktops */
/* ****************** */

@media (max-width: 84em) {
  /* general.css */
  body {
    font-size: 2rem;
  }

  .container {
    max-width: 120rem;
  }

  .grid--5-cols {
    column-gap: 2rem;
  }

  .heading-primary {
    font-size: 12rem;
    letter-spacing: 18px;
  }

  .subheading {
    margin-bottom: 5.6rem;
  }

  .description {
    font-size: 2rem;
    letter-spacing: 0.2px;
    margin-bottom: 3.6rem;
  }

  /* style.css */

  .work-content {
    padding: 4.8rem 2.4rem 4.8rem 2.4rem;
    font-size: 1.8rem;
    letter-spacing: 0.3px;
  }

  .diamond {
    width: 16rem;
    height: 32rem;
  }

  .discover--list,
  .define--list,
  .develop--list,
  .deliver--list {
    margin: auto 2.4rem;
    font-size: 1.5rem;
  }

  .grid-diamonds > .text {
    font-size: 1.8rem;
  }

  .blob-designoptions {
    width: 68%;
  }

  .row {
    grid-template-columns: 1fr 5fr;
    gap: 8rem;
  }

  .blob-ghac {
    width: 70%;
    transform: translateX(18%);
  }

  .ghac-connection .project-subtitle {
    top: 14rem;
    left: 50rem;
  }

  .blob-email {
    padding: 20rem 6.4rem;
    transform: translateY(0rem);
  }

  .email:link, .email:visited {
    font-size: 3.6rem;
    letter-spacing: 2px;
  }

  /* projects.css */

  .container--project:not(.full-background) {
    max-width: 110rem;
  }

  .grid--project {
    column-gap: 7.2rem;
  }

  .heading-project {
    font-size: 3.8rem;
  }

  .subheading-project {
    font-size: 3rem;
  }

  .text--container {
    max-width: 70rem;
  }

  .testimonials {
    font-size: 1.8rem;
  }

  .blob-testimonial {
    padding: 6rem 3.6rem;
    height: 24rem;
  }

  .testimonial--1 {
    transform: scale(var(--scaler)) translateY(-11rem) translateX(4rem);
    width: 24%;
    border-radius: 60px 60px 5px 60px;
  }
  
  .testimonial--2 {
    transform: scale(var(--scaler)) translateY(0rem) translateX(2rem);
    width: 36%;
    height: 21rem;
    border-radius: 60px 60px 60px 5px;
  }
  
  .testimonial--3 {
    transform: scale(var(--scaler)) translateY(-10rem) translateX(-17rem);
    width: 27%;
    height: 32rem;
    border-radius: 60px 60px 5px 60px;
  }
  
  .testimonial--4 {
    transform: scale(var(--scaler)) translateY(-23rem) translateX(-2rem);
    width: 22%;
    border-radius: 60px 60px 5px 60px;
  }
  
  .testimonial--5 {
    transform: scale(var(--scaler)) translateY(-4rem) translateX(10rem);
    width: 24%;
    height: 28rem;
    border-radius: 60px 60px 60px 5px;
  }

  .quote--author {
    font-size: 1.5rem;
  }

  .content:not(:last-child) {
    margin-bottom: 1.4rem;
  }

  .video {
    height: 46rem;
  }

  .do--image {
    max-height: 36rem;
  }

  .community--flex {
    padding: 0 9.6rem;
    gap: 2rem;
  }
}

/* ****************** */
/* BELOW 1200px (75em) - Landscape tablets */
/* ****************** */

@media (max-width: 75em) {
  /* general.css */
  body {
    font-size: 1.8rem;
  }
  /* 
  .section {
    padding: 8.4rem 0;
  } */

  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--5-cols {
    column-gap: 1.6rem;
  }

  .heading-primary {
    font-size: 8.6rem;
    letter-spacing: 16px;
  }

  .heading-secondary {
    font-size: 6.4rem;
  }

  .subheading {
    font-size: 1.7rem;
    margin-bottom: 6.4rem;
  }

  /* style.css */

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.6rem;
  }

  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    border: 1.6px solid #1B3A4B;
  }

  .hero-description {
    font-size: 2.4rem;
    letter-spacing: 2.4px;
  }

  .description {
    letter-spacing: 0.2px;
    margin-bottom: 2.4rem;
  }

  .blob-designoptions {
    width: 75%;
  }

  .blob-designoptions {
    width: 78%;
    transform: translateX(13%);
  }

  .project-do .project-title {
    left: 1.4rem;
    top: 1.4rem;
  }

  .row {
    grid-template-columns: 1fr 9fr;
    gap: 0rem;
  }

  .roadmap .project-title {
    left: -10rem;
    bottom: 36rem;
    font-size: 4.8rem;
    letter-spacing: 1px;
  }

  .blob-ghac {
    width: 83%;
    transform: translateX(6%);
  }

  .ghac-connection .project-title {
    top: 5rem;
    left: 11rem;
    right: 10rem;
    text-align: end;
    line-height: 1.4;
    font-size: 4.8rem;
  }

  .ghac-connection .project-subtitle {
    top: 24rem;
    left: 38rem;
    right: 12rem;
  }

  .connection-row {
    grid-template-columns: 2fr 4fr;
    gap: 12rem;
  }

  .linkedinlogo {
    padding: 10rem 0;
    z-index: 2;
  }

  .blob-email {
    padding: 12rem 6.4rem;
    transform: translateY(-1rem);
  }

  .long {
    display: none;
  }

  .short {
    display: block;
  }

  .email:link,
  .email:visited {
    font-size: 12.8rem;
    letter-spacing: 6px;
    margin-top: 0rem;
  }

  .contrast--linkedin {
    width: 110px;
    height: 110px;
    min-width: 7.2rem;
    border-radius: 50%;
  }

  .blob-linkedin:hover .contrast--linkedin,
  .blob-linkedin:active .contrast--linkedin {
    transform: scale(1.1) rotateZ(25deg);
    border-radius: 160px 190px 120px 180px;
  }



  .work-content {
    padding: 3.6rem 2rem 3.6rem 2rem;
    font-size: 1.6rem;
    letter-spacing: 0.2px;
  }

  #methods {
    padding: 9rem 0;
  }

  .grid--methods {
    margin-bottom: 0;
  }

  .text--even,
  .text--odd {
    font-size: 1.8rem;
  }

  .discover--list,
  .define--list,
  .develop--list,
  .deliver--list {
    margin: 4.8rem 3.2rem;
    height: 23rem;
    font-size: 1.55rem;
  }

  /* projects.css */

  .container--project:not(.full-background) {
    max-width: 90rem;
  }

  .grid--project {
    column-gap: 5.6rem;
  }

  .grid-diamonds > .hidden {
    order: 5;
    grid-column: 1 / -1;
    width: 64rem;
  }

  .pager {
    font-size: 1.4rem;
  }

  .pager-circle {
    width: 10.8rem;
    height: 10.8rem;
  }

  .project-intro {
    max-width: 84rem;
    font-size: 10rem;
  }

  .heading-project {
    font-size: 3rem;
  }

  .project-summary {
    font-size: 2.4rem;
  }

  .subheading-project {
    font-size: 2.4rem;
  }

  .text--container {
    max-width: 65rem;
    padding: 9.6rem 6.4rem 6.4rem 6.4rem;
  }

  .designoptions--houses {
    padding: 6.4rem 0;
  }

  .testimonials {
    font-size: 1.6rem;
  }

  .blob-testimonial {
    padding: 6rem 3.6rem;
    height: 24rem;
  }

  .testimonial--1 {
    transform: scale(var(--scaler)) translateY(-11rem) translateX(6rem);
    width: 20%;
    border-radius: 60px 60px 5px 60px;
  }
  
  .testimonial--2 {
    transform: scale(var(--scaler)) translateY(0rem) translateX(11rem);
    width: 38%;
    height: 21rem;
    border-radius: 60px 60px 60px 5px;
  }
  
  .testimonial--3 {
    transform: scale(var(--scaler)) translateY(-12rem) translateX(-12rem);
    width: 27%;
    height: 30rem;
    border-radius: 60px 60px 5px 60px;
  }
  
  .testimonial--4 {
    transform: scale(var(--scaler)) translateY(-20rem) translateX(0rem);
    width: 19%;
    height: 20rem;
    border-radius: 60px 60px 5px 60px;
  }
  
  .testimonial--5 {
    transform: scale(var(--scaler)) translateY(-3rem) translateX(13rem);
    width: 26%;
    height: 28rem;
    border-radius: 60px 60px 60px 5px;
  }

  .quote--author {
    font-size: 1.4rem;
  }

  .footnote {
    font-size: 1.5rem;
  }

  .content:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  .site-link:link,
  .site-link:visited {
    color: #90bcb0;
  }

  .video {
    height: 37rem;
  }

  .do--image {
    max-height: 28rem;
  }

  .do-palette .project-image {
    border-radius: 4px;
  }

  .grid--process {
    gap: 2.4rem;
  }

  .community--flex {
    padding: 0 3.6rem;
    gap: 1.8rem;
  }

  .full-background {
    padding: 9.6rem 12.8rem;
  }
}

/* ****************** */
/* BELOW 944px (59em) - Tablets, portrait mode */
/* ****************** */

@media (max-width: 59em) {
  /* general.css */
  html {
    /* 9px */
    font-size: 56.25%;
  }

  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  /* style.css */
  .heading-primary {
    font-size: 12rem;
    letter-spacing: 18px;
    line-height: 1.2;
    margin-bottom: 2.4rem;
  }

  .section:not(.testimonials, .section-hero) {
    padding: 0rem 0;
    margin-bottom: 8rem;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .project--row:not(.connection-row) + .project--row:not(.row) {
    padding: 12.8rem 8.4rem;
    max-width: 84rem;
  }

  .blob-designoptions,
  .blob-ghac {
    width: 100%;
    transform: translateX(0%);
  }

  .project-do .project-title {
    left: -2rem;
    top: 3rem;
    font-size: 4.8rem;
  }

  .row {
    grid-template-columns: 1fr;
    gap: 0rem;
    padding: 12.8rem 8.4rem;
  }

  .roadmap .project-title {
    left: -2rem;
    bottom: 39rem;
    font-size: 4.8rem;
    letter-spacing: 1px;
  }

  .blob-roadmap:hover .roadmap-illustration,
  .blob-roadmap:active .roadmap-illustration {
    transform: scale(1.1) translateY(3%);
  }

  .ghac-connection .project-title {
    top: 5rem;
    left: -2rem;
    right: 10rem;
    text-align: start;
    line-height: 1.2;
    font-size: 4.8rem;
  }

  .ghac-connection .project-subtitle {
    top: 25rem;
    left: 33rem;
    right: 2rem;
  }

  .connection-row {
    grid-template-columns: 1fr;
    gap: 12rem;
  }

  .blob-linkedin {
    border-radius: 160px 110px 140px 180px;
    margin-top: 0%;
    width: 138%;
    transform: translateY(0rem) translateX(-100px);
  }

  .linkedinlogo {
    padding: 13rem 0;
  }

  .blob-email {
    padding: 12rem 6.4rem;
    width: 200%;
    transform: translateY(0rem) translateX(-30px);
  }

  .footer .container {
    gap: 1.2rem;
  }

  .copyright {
    font-size: 1.2rem;
  }

  /* projects.css */
  
  .container--project:not(.full-background) {
    max-width: 75rem;
  }

  .grid--project {
    grid-template-columns: 1fr;
  }

  .grid--project > div:nth-child(1) {
    align-self: end;
    margin-bottom: 6.4rem;
  }

  .grid--project > div:nth-child(2),
  .grid--project > img:not(.thumbnail) {
    align-self: start;
    margin-bottom: 6.4rem;
  }

  .section-project-intro {
    height: 88vh;
  }

  .project-intro {
    max-width: 66rem;
    font-size: 7.5rem;
  }

  .heading-project {
    font-size: 4.8rem;
  }

  .project-summary {
    font-size: 1.8rem;
  }

  .subheading-project {
    font-size: 3.6rem;
  }

  .text--container {
    max-width: 65rem;
    padding: 9.6rem 6.4rem 6.4rem 6.4rem;
  }

  .designoptions--houses {
    padding: 4.8rem 0;
    gap: 0;
  }

  .testimonials {
    font-size: 1.6rem;
  }

  .blob-testimonial {
    padding: 6rem 3.6rem;
    height: 24rem;
  }

  .testimonial--1 {
    transform: scale(var(--scaler)) translateY(-11rem) translateX(5rem);
    width: 21%;
    height: 23rem;
    border-radius: 45px 45px 5px 45px;
  }
  
  .testimonial--2 {
    transform: scale(var(--scaler)) translateY(0rem) translateX(9rem);
    width: 45%;
    height: 19rem;
    border-radius: 45px 45px 45px 5px;
  }
  
  .testimonial--3 {
    transform: scale(var(--scaler)) translateY(-12rem) translateX(-8rem);
    width: 29%;
    height: 33rem;
    border-radius: 45px 45px 5px 45px;
  }
  
  .testimonial--4 {
    transform: scale(var(--scaler)) translateY(-26rem) translateX(4rem);
    width: 20%;
    height: 24rem;
    border-radius: 45px 45px 5px 45px;
  }
  
  .testimonial--5 {
    transform: scale(var(--scaler)) translateY(-5rem) translateX(15rem);
    width: 28%;
    height: 28rem;
    border-radius: 45px 45px 45px 5px;
  }

  .quote--author {
    font-size: 1.4rem;
  }

  .footnote {
    font-size: 1.4rem;
  }

  .adeslogo > .grid--project > div:nth-child(2),
  .adeslogo > .grid--project > .project-mockup:nth-child(2),
  .zone > .grid--project > .project-image:nth-child(2):not(.sub),
  .zone > .grid--project > .project-mockup:nth-child(2),
  .omnifood > .grid--project > div:nth-child(2),
  .omnifood > .grid--project > .project-image:nth-child(2),
  .omnifood > .grid--project > .project-mockup:nth-child(2),
  .homely > .grid--project > .project-image:nth-child(2),
  .homely > .grid--project > .project-mockup:nth-child(2),
  .homely > .grid--project > .flex--mockups:nth-child(2),
  .cottonpasta > .grid--project > .flex:nth-child(2),
  .cottonpasta > .grid--project > .project-image:nth-child(2),
  .cottonpasta > .grid--project > .project-mockup:nth-child(2) {
    grid-row: 1;
    align-self: end;
  }

  .adeslogo > .grid--project > div:nth-child(1):not(.subheading-project),
  .adeslogo > .grid--project > p:nth-child(1),
  .zone > .grid--project > div:nth-child(1):not(.subheading-project, .top),
  .zone > .grid--project > p:nth-child(1),
  .omnifood > .grid--project > div:nth-child(1):not(.subheading-project),
  .omnifood > .grid--project > p:nth-child(1),
  .homely > .grid--project > div:nth-child(1):not(.subheading-project),
  .homely > .grid--project > p:nth-child(1),
  .cottonpasta > .grid--project > div:nth-child(1):not(.subheading-project),
  .cottonpasta > .grid--project > p:nth-child(1) {
    grid-row: 2;
    align-self: start;
  }

  .content:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  .site {
    display: grid;
  }

  .thumbnail,
  .project-mockup--thumbnail {
    grid-row: 1;
    margin-bottom: 6.4rem;
  }

  .video {
    height: 30rem;
  }

  .do--image {
    max-height: 24rem;
  }

  .do-palette .project-image {
    border-radius: 3px;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.95);
    /* For safari: based on caniuse.com info */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows no transitions at all: */
    /* display: none; */

    /* 1) Hide the element visually */
    opacity: 0;
    /* 2) Make it unaccessable to mouse/keyboard */
    pointer-events: none;
    /* 3) Hide it from screen readers  */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    position: fixed;
  }

  .nav-open .main-nav .main-nav-list .hidden {
    display: inline;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    text-decoration: none;
    display: inline-block;
    color: #333;
    text-transform: lowercase;
    font-weight: 300;
    font-size: 2.4rem;
    transition: all 0.3s ease;
  }

  .main-nav-link:hover,
  .main-nav-link:active {
    color: #90bcb0;
  }

  .btn-mobile-nav {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    color: #333;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-open .btn-mobile-nav {
    position: fixed;
    right: 4rem;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    background-color: #a0d1c3;
    color: #fff;
  }

  .extra-padding {
    padding: 4.8rem 4.8rem;
  }

  .full-background {
    padding: 6.4rem 6.4rem;
  }

  .grid--roadmap {
    gap: 1.8rem;
    max-height: 100%;
    width: 100%;
  }
}

/* ****************** */
/* BELOW 768px (48em) - Small tablets */
/* ****************** */

@media (max-width: 48em) {
  /* general.css */

  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--5-cols {
    overflow-x: scroll;
    column-gap: 2.4rem;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .grid--5-cols::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .heading-primary {
    font-size: 8rem;
    letter-spacing: 20px;
    line-height: 1.2;
    margin-bottom: 2.4rem;
  }

  .description {
    font-size: 1.8rem;
    letter-spacing: 0.2px;
    margin-bottom: 2.4rem;
  }

  /* style.css */
  .section-hero {
    min-height: 93vh;
  }

  .hero-description {
    font-size: 2.4rem;
    letter-spacing: 2px;
    margin-bottom: 6.4rem;
  }

  .blob-designoptions {
    width: 100%;
    border-radius: 110px 150px 120px 160px;
    transform: translateX(0%);
  }

  .blob-roadmap {
    border-radius: 120px 140px 130px 100px;
  }

  .blob-ghac {
    border-radius: 110px 150px 70px 130px;
  }

  .project-do .project-title {
    left: -2rem;
    top: 1rem;
    font-size: 4.8rem;
  }

  .roadmap .project-title {
    left: -2rem;
    bottom: unset;
    top: 0rem;
    font-size: 4.8rem;
    letter-spacing: 1px;
    text-align: left;
  }

  .ghac-connection .project-title {
    top: -6rem;
    left: -2rem;
    right: 10rem;
    text-align: start;
    line-height: 1.2;
    font-size: 4.8rem;
  }

  .ghac-connection .project-subtitle {
    display: none;
  }

  .blob-email {
    padding: 12rem 6.4rem;
    width: 200%;
    transform: translateY(0rem) translateX(-57px);
  }





  .work {
    height: 24rem;
    width: 24rem;
  }

  .work:hover,
  .work:active {
    transform: none;
    box-shadow: 0 1.6rem 3.6rem rgba(0, 0, 0, 0.075);
  }

  .work-content {
    padding: 3.6rem 2.4rem 3.6rem 2.4rem;
    font-size: 2rem;
    letter-spacing: 0.2px;
  }

  .diamond {
    width: 12rem;
    height: 24rem;
  }

  .text--even,
  .text--odd {
    font-size: 1.6rem;
  }

  .grid-diamonds > .hidden {
    width: 48rem;
  }

  .discover--list,
  .define--list,
  .develop--list,
  .deliver--list {
    margin: 3.2rem 1.6rem;
    height: 32rem;
  }

  /* projects.css */
  .container--project:not(.full-background) {
    max-width: none;
    padding: 9.6rem 8.4rem;
  }

  .section-project-intro {
    padding: 9.6rem 9.2rem;
  }

  .pager {
    font-size: 1.3rem;
  }

  .pager-circle {
    width: 9.6rem;
    height: 9.6rem;
  }

  .project-intro {
    max-width: 50rem;
    font-size: 5.2rem;
    letter-spacing: 3px;
  }

  .project-summary {
    font-size: 1.55rem;
    letter-spacing: 0.5px;
}

  .heading-project {
    font-size: 4.2rem;
  }

  .subheading-project {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
  }

  .text--container {
    max-width: 50rem;
    padding: 9.6rem 6.4rem 6.4rem 6.4rem;
  }

  .testimonials {
    font-size: 1.6rem;
  }

  .blob-testimonial {
    padding: 6rem 3.6rem;
    height: 24rem;
  }

  .testimonial--1 {
    transform: scale(var(--scaler)) translateY(-8rem) translateX(-2rem);
    width: 30%;
    height: 24rem;
    border-radius: 45px 45px 5px 45px;
  }
  
  .testimonial--2 {
    transform: scale(var(--scaler)) translateY(8rem) translateX(4rem);
    width: 35%;
    height: 26rem;
    border-radius: 45px 45px 45px 5px;
  }
  
  .testimonial--3 {
    transform: scale(var(--scaler)) translateY(-10rem) translateX(-4rem);
    width: 39%;
    height: 33rem;
    border-radius: 45px 45px 5px 45px;
  }
  
  .testimonial--4 {
    transform: scale(var(--scaler)) translateY(-10rem) translateX(-14rem);
    width: 31%;
    height: 24rem;
    border-radius: 45px 45px 5px 45px;
  }
  
  .testimonial--5 {
    transform: scale(var(--scaler)) translateY(9rem) translateX(1rem);
    width: 37%;
    height: 26rem;
    border-radius: 45px 45px 45px 5px;
  }

  .quote--author {
    font-size: 1.4rem;
  }

  .footnote {
    font-size: 1.4rem;
  }

  .content:not(:last-child) {
    margin-bottom: 2rem;
  }

  .thumbnail,
  .project-mockup--thumbnail {
    margin-bottom: 3.6rem;
  }

  .accent-background {
    border-radius: 0;
  }

  .container--project.flex--column {
    max-width: 75rem;
    padding: 9.6rem 4.8rem;
  }

  .video {
    height: 28rem;
  }

  .do--image {
    max-height: 20rem;
  }

  .do-palette .project-image {
    border-radius: 2px;
  }

  .grid--process {
    gap: 1.6rem;
  }
}

/* ****************** */
/* BELOW 544px (34em) - Phones */
/* ****************** */

@media (max-width: 34em) {
  /* general.css */
  .container {
    padding: 0 2rem;
    max-width: 42rem;
  }

  .heading-primary {
    font-size: 7.2rem;
    letter-spacing: 12px;
    line-height: 1.2;
    margin-bottom: 3.2rem;
  }

  .heading-secondary {
    font-size: 5.6rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    letter-spacing: 1.3px;
  }

  .subheading {
    font-size: 1.5rem;
    margin-bottom: 6.4rem;
  }

  .description {
    line-height: 3.2rem;
  }

  .grid--2-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .grid--3-cols {
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  /* style.css */
  .header {
    padding: 0 3.2rem;
  }

  .hero-description {
    font-size: 2rem;
    letter-spacing: 1px;
  }

  .project--row:not(.connection-row) + .project--row:not(.row) {
    padding: 18rem 4.2rem;
    max-width: 84rem;
  }

  .blob-designoptions,
  .blob-roadmap,
  .blob-ghac {
    border-radius: 40px;
  }

  .project-do .project-title,
  .roadmap .project-title {
    left: 0rem;
    top: -13rem;
    width: 100%;
    font-size: 4.8rem;
    line-height: 1.2;
    text-align: center;
  }

  .ghac-connection .project-title {
    left: 0rem;
    right: unset;
    top: -18rem;
    font-size: 4.8rem;
    line-height: 1.2;
    text-align: center;
  }

  .blob-linkedin {
    border-radius: 160px 110px 140px 180px;
    margin-top: 0%;
    width: 138%;
    transform: translateY(0rem) translateX(-69px);
  }

  .blob-email {
    padding: 12rem 6.4rem;
    width: 200%;
    border-radius: 170px 160px 130px 120px;
    transform: translateY(0rem) translateX(-63px);
  }







  .grid--methods {
    grid-template-columns: 1fr;
    display: inline-grid;
    max-height: max-content;
    grid-auto-rows: auto;
    margin-bottom: 0.6rem;
  }

  .grid--methods > .description {
    margin-bottom: 0;
  }

  .grid--methods + .description {
    line-height: 4rem;
  }

  .overflow {
    height: 4rem;
    overflow: hidden;
  }

  .diamond {
    width: 10rem;
    height: 20rem;
  }

  .text--even,
  .text--odd {
    font-size: 1.5rem;
  }

  .grid-diamonds > .hidden {
    width: 40rem;
  }

  /* projects.css */
  .container--project:not(.full-background) {
    max-width: 56rem;
    padding: 7.8rem 5.6rem;
  }

  .grid--project > div:nth-child(1) {
    margin-bottom: 4.8rem;
  }

  .grid--project > div:nth-child(2),
  .grid--project > img:not(.thumbnail) {
    margin-bottom: 4.8rem;
  }

  .flex {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    flex: none;
  }

  .section-project-intro {
    height: 80vh;
  }

  .project-intro {
    font-size: 6.4rem;
    letter-spacing: 1px;
  }

  .heading-project {
    font-size: 3.35rem;
  }

  .project-summary {
    font-size: 1.6rem;
    text-align: center;
  }

  .subheading-project {
    font-size: 2.8rem;
  }

  .text--container {
    max-width: 50rem;
    padding: 9.6rem 6.4rem 6.4rem 6.4rem;
  }

  .designoptions--houses {
    padding: 0;
  }

  .testimonials {
    font-size: 1.6rem;
  }

  .testimonials .row {
    flex-direction: column;
  }

  .blob-testimonial {
    padding: 6rem 3.6rem;
    height: 24rem;
  }

  .testimonial--1 {
    transform: scale(var(--scaler)) translateY(-13rem) translateX(20rem);
    width: 45%;
    height: 20rem;
    border-radius: 45px 45px 5px 45px;
  }
  
  .testimonial--2 {
    transform: scale(var(--scaler)) translateY(-8rem) translateX(10rem);
    width: 55%;
    height: 26rem;
    border-radius: 45px 45px 45px 5px;
  }
  
  .testimonial--3 {
    transform: scale(var(--scaler)) translateY(-8rem) translateX(16rem);
    width: 55%;
    height: 31rem;
    border-radius: 45px 45px 5px 45px;
  }
  
  .testimonial--4 {
    transform: scale(var(--scaler)) translateY(-3rem) translateX(24rem);
    width: 41%;
    height: 21rem;
    border-radius: 45px 45px 5px 45px;
  }
  
  .testimonial--5 {
    transform: scale(var(--scaler)) translateY(-3rem) translateX(9rem);
    width: 60%;
    height: 26rem;
    border-radius: 45px 45px 45px 5px;
  }

  .quote--author {
    font-size: 1.4rem;
  }

  .footnote {
    font-size: 1.4rem;
    max-width: 30rem;
    text-align: center;
  }

  .live-site > .site-link {
    font-size: 1.4rem;
  }

  .project-image {
    width: auto;
  }

  .container--project.flex--column {
    max-width: 56rem;
    padding: 7.8rem 0;
  }

  .container--project.full-background,
  .container--project.contains--image {
    padding: 7.8rem 0;
  }

  .video {
    width: 100%;
    /* height: auto; */
    border-radius: 0;
  }

  .do--image {
    max-height: 27rem;
  }

  .thumbnail {
    margin-bottom: 0;
  }

  .do-manager {
    transform: translateY(30%) translateX(9%);
    width: 85%;
  }

  .do-palette {
    transform: translateY(-23%) translateX(219%);
    width: 25%;
  }

  .roadmap--image-main {
    border-radius: 0;
  }

  .container--project.accent-background {
    max-width: 100rem;
    padding: 5.6rem 3.6rem;
  }

  .accent-background .roadmap--image-main {
    border-radius: 6px;
  }

  .grid--roadmap {
    gap: 1.8rem;
    width: 80%;
  }

  .community--flex {
    padding: 0 5.6rem;
    gap: 1.8rem;
}
}

/* - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* Fixing Safari flexbox gap */

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
