/* ****************** */
/* HEADER */
/* ****************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want the header to be sticky later */
  height: 9.6rem;
  padding: 0 4.2rem;
  position: relative;
}

.logo {
  height: 3.6rem;
}

/* ****************** */
/* NAVIGATION */
/* ****************** */

.main-nav-list {
  font-family: "Comfortaa", sans-serif;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  /* display: inline-block; */
  color: #1B3A4B;
  text-transform: lowercase;
  font-weight: 300;
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #509c87;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  text-decoration: none;
  color: #1B3A4B;
  border: 2px solid #1B3A4B;
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #1B3A4B;
  color: #fff;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;

  /* No shadow while clicking these icons */
  box-shadow: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #1B3A4B;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* Sticky navigation */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #333;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* ****************** */
/* HERO SECTION */
/* ****************** */

.project--row {
  padding: 12.8rem 8.4rem;
}

.row {
  display: grid;
  grid-template-columns: 2fr 5fr;
  justify-content: space-between;
  gap: 16rem;
  align-items: self-start;
  padding: 12.8rem 12.8rem;
}

.connection-row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: space-between;
  gap: 20rem;
  align-items: self-start;
  padding: 12.8rem 12.8rem;
}

.blob {
  display: flex;
  align-items: end;
  background-color: #fff;
  color: #333;
  overflow: hidden;
}

.blob--text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
  height: 100%;
  width: 100%;
  font-size: 6.4rem;
  font-family:  "Advent Pro", sans-serif;
  font-weight: 700;
  /* text-transform: uppercase; */
  position: relative;
  z-index: 100;

  padding: 15.6rem 8.4rem;
}

.paragraph {
  /* font-size: 8.4rem; */
  justify-content: center;
  align-items: center;
}

.blob-name {
  width: 38%;    
  border-radius: 210px 180px 240px 120px;
  transform: translateX(10%);
}

.blob-intro {
  width: 40%;
  border-radius: 150px 170px 90px 200px;
  transform: translateY(45%) translateX(-15%);
  /* margin-bottom: 12rem; */
}

.blob-designoptions {
  background-color: #FFD7B8;
  width: 60%;
  border-radius: 120px 220px 140px 170px;
  transform: translateX(20%);
}

.blob-roadmap {
  background-color: #e1f3f5;
  /* width: 60%; */
  border-radius: 170px 240px 180px 100px;
  /* transform: translateY(-15%) translateX(343px); */
}

.blob-ghac {
  background-color: #c9ddbf;
  width: 60%;
  border-radius: 170px 240px 120px 180px;
  transform: translateX(30%);
}

.blob-linkedin {
  background-color: #e1f3f5;
  border-radius: 160px 110px 140px 180px;
  /* transform: translateY(20%) translateX(20%); */
  align-items: center;
  justify-content: center;
  margin-top: 9%;
  transform: translateY(20rem);
}

.blob-email {
  background-color: #f0d7d0;
  padding: 24rem 6.4rem;
  border-radius: 220px 180px 150px 120px;
  transform: translateY(-3rem);
}

.linkedinlogo {
  padding: 16rem 0;
  z-index: 2;
}

.profile-picture {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.project-do .project-title {
  position: absolute;
  z-index: 100;
  left: 6.4rem;
  top: 2.4rem;
}

.roadmap .project-title {
  position: absolute;
  z-index: 100;
  left: -20rem;
  bottom: 3rem;
  font-size: 5.6rem;
  letter-spacing: 1px;
}

.ghac-connection .project-title {
  position: absolute;
  z-index: 100;
  top: 6rem;
  left: 10rem;
  font-size: 5.6rem;
  letter-spacing: 1px;
}

.ghac-connection .project-subtitle {
  position: absolute;
  z-index: 100;
  top: 14rem;
  left: 67rem;
  /* color: #fff; */
  font-size: 2.4rem;
  letter-spacing: 1px;
}

.designoptions,
.roadmap-illustration,
.ghac-illustration {
  width: 103%;
  height: 103%;
  object-fit: contain;
  transition: all 0.4s;
}

.contrast--do {
  background-color: #1e707a;
  position: absolute;
  left: 25%;
  width: 40%;
  height: 100%;
  z-index: -1;
  transform: rotateZ(-25deg) translateY(23%);
  border-radius: 1000px 1000px 0 0;
  transition: all 0.4s;
}

.contrast--ghac {
  background-color: #287FFF;
  position: absolute;
  left: 25%;
  width: 40%;
  height: 100%;
  z-index: -1;
  transform: rotateZ(-25deg) translateY(23%);
  border-radius: 1000px 1000px 0 0;
  transition: all 0.4s;
}

.contrast--linkedin {
  background-color: #1B3A4B;
  position: absolute;
  left: auto;
  width: 110px;
  height: 140px;
  min-width: 7.2rem;
  z-index: 1;
  border-radius: 160px 110px 140px 180px;
  transition: all 0.4s;
}

.project-do:link,
.project-do:visited,
.roadmap:link,
.roadmap:visited,
.ghac-connection:link,
.ghac-connection:visited {
  position: relative;
  text-decoration: none;
  color: #1B3A4B;
  font-family: "Righteous", sans-serif;
  font-size: 7.2rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.4s;
}

.linkedin:link,
.linkedin:visited {
  transition: all 0.4s;
}

.blob-designoptions:link,
.blob-designoptions:visited,
.blob-linkedin:link,
.blob-linkedin:visited {
  position: relative;
  transition: all 0.4s;
}

.blob-designoptions:hover .designoptions,
.blob-designoptions:active .designoptions,
.project-title:hover + .blob .designoptions,
.project-title:active + .blob .designoptions {
  transform: scale(1.05) translateY(-2%);
}

.blob-designoptions:hover .contrast--do,
.blob-designoptions:active .contrast--do,
.project-title:hover + .blob .contrast--do,
.project-title:active + .blob .contrast--do {
  transform: scale(1.0) rotateZ(-25deg) translateY(20%) translateX(-5%);
}

.blob-linkedin:hover .contrast--linkedin,
.blob-linkedin:active .contrast--linkedin {
  transform: scale(1.35) rotateZ(25deg);
  border-radius: 160px 190px 120px 180px;
}

.blob-roadmap:hover .roadmap-illustration,
.blob-roadmap:active .roadmap-illustration {
  transform: scale(1.1) translateY(-4%);
}

.blob-ghac:hover .ghac-illustration,
.blob-ghac:active .ghac-illustration {
  transform: scale(1.05) translateY(-2%);
}

.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24rem 0;
  margin-bottom: 2.4rem;
  height: 95vh;
}

.hero-description {
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 1.6;
  margin-bottom: 7.2rem;
}

/* ****************** */
/* WORK SECTION */
/* ****************** */

.work:link,
.work:visited {
  background-color: #fff;
  color: #333;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.4s;
  aspect-ratio: 1;
  text-decoration: none;
}

.work:hover,
.work:active {
  transform: translateY(-0.6rem);
  box-shadow: 0 1.6rem 3.6rem rgba(0, 0, 0, 0.075);
}

.work:hover .hidden,
.work:active .hidden {
  display: block;
}

.work:hover .work-content,
.work:active .work-content {
  display: none;
}

.work-content {
  padding: 4.8rem 2.4rem 4.8rem 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.work-thumbnail {
  width: 100%;
  height: 100%;
}

/* ****************** */
/* METHODS SECTION */
/* ****************** */

.grid--methods {
  grid-template-columns: 3fr 2fr;
  column-gap: 1rem;
  display: inline-grid;
  max-height: 4rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.method-words {
  line-height: 4.8rem;
}

.method-word-1 {
  letter-spacing: 0.6px;
  animation-name: pushDown;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.method-word-2 {
  animation-name: changeColor;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes pushDown {
  0% {
    margin-top: 0;
    color: #509c87;
  }

  15% {
    margin-top: 0;
    color: #509c87;
  }

  35% {
    margin-top: -4.8rem;
    color: #fff;
  }

  65% {
    margin-top: -4.8rem;
    color: #fff;
  }

  85% {
    margin-top: 0;
    color: #509c87;
  }

  100% {
    margin-top: 0;
    color: #509c87;
  }
}

@keyframes changeColor {
  0% {
    color: #fff;
  }

  15% {
    color: #fff;
  }

  35% {
    color: #509c87;
  }

  65% {
    color: #509c87;
  }

  85% {
    color: #fff;
  }

  100% {
    color: #fff;
  }
}

.grid-diamonds {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(36rem);
  justify-items: center;
  align-items: center;
  display: inline-grid;
}

.diamond {
  transition: all 0.4s;
  width: 18rem;
  height: 36rem;
  background-size: cover;
}

.diamond--discover {
  background-image: url("./images/diamonds/Research.png");
  position: relative;
}

.diamond--define {
  background-image: url("./images/diamonds/Synthesis.png");
  position: relative;
}

.diamond--develop {
  background-image: url("./images/diamonds/Ideation.png");
  position: relative;
}

.diamond--deliver {
  background-image: url("./images/diamonds/Implementation.png");
  position: relative;
}

.diamond--discover:hover {
  background-image: url("./images/diamonds/Research_accent.png");
}

.diamond--define:hover {
  background-image: url("./images/diamonds/Synthesis_accent.png");
}

.diamond--develop:hover {
  background-image: url("./images/diamonds/Ideation_accent.png");
}

.diamond--deliver:hover {
  background-image: url("./images/diamonds/Implementation_accent.png");
}

.column--discover,
.column--define,
.column--develop,
.column--deliver {
  position: relative;
  text-align: center;
}

.text {
  font-size: 2rem;
}

.text--odd {
  color: #333;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.text--even {
  color: #333;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.grid-diamonds > .text {
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.6px;
}

.discover--list,
.define--list,
.develop--list,
.deliver--list {
  margin: auto 3.2rem;
  font-size: 1.8rem;
}

.discover--list,
.define--list,
.develop--list,
.deliver--list,
.columbo {
  animation-name: appearText;
  animation-duration: 1.8s;
}

@keyframes appearText {
  0% {
    color: #333;
  }

  100% {
    color: #fff;
  }
}

.discover--list li:not(:last-child),
.define--list li:not(:last-child),
.develop--list li:not(:last-child),
.deliver--list li:not(:last-child) {
  margin-bottom: 1.6rem;
}

.diamond--discover,
.diamond--develop {
  border-right: solid 1px #333;
}

.diamond--discover:hover,
.diamond--define:hover,
.diamond--develop:hover,
.diamond--deliver:hover,
.diamond--discover:active,
.diamond--define:active,
.diamond--develop:active,
.diamond--deliver:active {
  cursor: pointer;
  transition: all 0.4s;
}

.columbo:hover {
  color: #90bcb0;
  cursor: url("./images/columbo_cursor.png"), pointer;
}

.tasks {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
}

/* ****************** */
/* CONTACT SECTION */
/* ****************** */

.section--contact {
  margin-bottom: 12.8rem;
}

.contacts {
  display: flex;
  justify-content: center;
  gap: 4.8rem;
}

.email-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.email:link,
.email:visited {
  text-decoration: none;
  color: #1B3A4B;
  font-family: "Righteous", sans-serif;
  font-size: 5.6rem;
  /* font-weight: 700; */
  /* letter-spacing: 10px; */
  transition: all 0.4s;
}

.email:hover,
.email:active {
  transform: scale(1.05);
}

.short {
  display: none;
}

/* ****************** */
/* FOOTER */
/* ****************** */

.footer {
  padding: 4.8rem 0;
}

.footer .container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-logo,
.copyright {
  align-self: center;
}

.footer-logo {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #9d9d9d;
}
